<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.filter{|provider| Identity::SUPPORTED_LOGIN_PROVIDERS.include?(provider)}.each do |provider| %>
  <div class="d-flex justify-content-center">
    <%= link_to(
        omniauth_authorize_path(resource_name, provider),
        class: "d-flex btn btn-block btn-lg btn-#{provider}",
        method: :post
      ) do %>
      <%
        fa_icon = case provider
        when :facebook
          "fa fa-#{provider}-official"
        when :linkedin
          "fa fa-#{provider}-square"
        when :square
          "fb fb-square"
        else
          "fa fa-#{provider}"
        end
      %>
      <i class="<%= fa_icon %>"></i>
      <span class="align-self-center"><%= OmniAuth::Utils.camelize(provider) %></span>
    <% end %>
    </div>
  <% end %>
<% end %>
