<div class="card" style="width: 100%;"  data-testid="stories-panel">
  <div class="card-header">
    My Stories
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">story 1</li>
    <li class="list-group-item">story 2</li>
    <li class="list-group-item">story 3</li>
  </ul>
</div>
