<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to(
        "Status",
        identity_site_path(identity_id: @identity.uid, id: @site.reference_id),
        aria: { current: :page },
        class: "nav-link #{action_name.to_sym == :show ? "active" : ""}"
    ) %>
  </li>
  <li class="nav-item">
    <%= link_to(
        "Config",
        configure_site_config_identity_site_path(identity_id: @identity.uid, id: @site.reference_id),
        aria: { current: :page },
        class: "nav-link #{action_name.to_sym == :configure_site_config ? "active" : ""}"
    ) %>
  </li>
  <li class="nav-item">
    <%= link_to(
        "Stats",
        stats_identity_site_path(identity_id: @identity.uid, id: @site.reference_id),
        aria: { current: :page },
        class: "nav-link #{action_name.to_sym == :stats ? "active" : ""}"
    ) %>
  </li>
  <% if Flipper[:portal].enabled?(current_user) %>
    <li class="nav-item">
      <%= link_to(
          "Portal",
          portal_identity_site_path(identity_id: @identity.uid, id: @site.reference_id),
          aria: { current: :page },
          class: "nav-link #{action_name.to_sym == :portal ? "active" : ""}"
      ) %>
    </li>
  <% end %>
</ul>