<div class="container mt-3">
  <%= render partial: "identities/breadcrumbs" %>
  <div class="row">
    <div class="col-lg-2">
      <%= link_to(
            "Add widget",
            add_widget_identity_site_path,
            class: "btn btn-primary",
            data: { method: :post }
          ) %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <%= link_to(
        "Remove widget",
        remove_widget_identity_site_path,
        class: "btn btn-outline-danger",
        data: {
          method: :post,
          confirm: "Are you sure?"
        }
      ) %>
      <%= link_to(
        "Upsert widget",
        add_widget_identity_site_path,
        class: "btn btn-primary",
        data: { method: :post }
      ) %>
    </div>
  </div>
</div>