<ul>
  <li><%= link_to "vanilla js", widget_path(:vanillajs) %></li>
  <li>
    <%= link_to "bootstrap embeded (not working)", widget_path(:bootstrap) %>
    <%= link_to "bootstrap demo", widget_path(:bootstrap_demo) %>
  </li>
</ul>