<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if controller_name.to_sym == :identities && action_name.to_sym == :index %>
      <li class="breadcrumb-item active">
        Home
      </li>
    <% else %>
      <li class="breadcrumb-item">
        <%= link_to "Home", identities_path %>
      </li>
    <% end %>
    <% if controller_name.to_sym == :identities && action_name.to_sym == :show %>
      <li class="breadcrumb-item active">
        <%= @identity.name %>
      </li>
    <% elsif @identity%>
      <li class="breadcrumb-item">
        <%= link_to @identity.name, identity_path(@identity.uid) %>
      </li>
    <% end %>
    <% if controller_name.to_sym == :sites %>
      <li class="breadcrumb-item active">
        <%= @site&.site_title %>
      </li>
    <% end %>
  </ol>
</nav>