<ul class="list-group" data-testid="site-list">
  <% @sites.map do |site| %>
    <%= link_to identity_site_path(@identity.uid, site.reference_id), class: "list-group-item list-group-item-action" do %>
      <div class="row">
        <div>
          <strong><%= site.site_title %></strong>
        </div>
        <div>
          <%= site.last_published %>
        </div>
      </div>
    <% end %>
  <% end %>
</ul>
<br>
<%= link_to "Enable/Disable Portal", toggle_portal_identity_path(@identity.uid, portal: "portal"), class: "btn btn-primary", method: :post if current_user.user_actions&.dig("admin", "can_administer") %>
