<footer class="footer">
  <div class="container d-flex justify-content-between">
    <ul class="nav m-3">
      <li class="nav-link text-secondary">
        © 2021 swif
      </li>
      <!--
      <li class="nav-link">
        <a href="#">
          Contact Us
        </a>
      </li>
      <li class="nav-link">
        <a href="#">
          About Us
        </a>
      </li>
      -->
      <li class="nav-link">
        <a href="/terms-of-service" class="text-decoration-none">
          terms
        </a>
      </li>
      <li class="nav-link">
        <a href="/privacy-policy" class="text-decoration-none">
          privacy
        </a>
      </li>
      <!--
      <li class="nav-link">
        <a href="#">
          Site Map
        </a>
      </li>
      -->
    </ul>
    <ul class="nav m-3">
      <li class="nav-link text-secondary">
        <i class="fas fa-map-marker-alt"></i>
        Melbourne
      </li>
      <li class="nav-link" target="_blank">
        <a href="https://github.com/failure-driven" alt="Github">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="nav-link" target="_blank">
        <a href="https://failure-driven.com" alt="Failure Driven Blog">
          <i class="fas fa-blog"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
